---
import Header from '@components/internal/Header.astro';
import { Nav } from '@components/internal/Nav';
import ResizablePanel from '@components/internal/ResizablePanel.astro';
import TutorialContent from '@components/internal/TutorialContent.astro';
import { WorkspacePanel } from '@components/internal/WorkspacePanel';
import Layout from '@layouts/Layout.astro';
import '@styles/base.css';
import { RESIZABLE_PANELS } from '@utils/constants';
import { generateStaticRoutes } from '@utils/routes';
import type { InferGetStaticPropsType } from 'astro';

export async function getStaticPaths() {
  return generateStaticRoutes();
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { lesson, navList, title } = Astro.props as Props;
---

<Layout title={title}>
  <Fragment slot="head">
    <script>
      import '@utils/custom-swap';
    </script>
  </Fragment>
  <main class="max-w-full flex flex-col h-screen overflow-hidden" data-swap-root>
    <Header />
    <ResizablePanel
      classList="h-full overflow-hidden"
      id={RESIZABLE_PANELS.Main}
      type="horizontal"
      min="30%"
      pos="40%"
      max="60%"
    >
      <div class="h-full flex flex-col" slot="a">
        <Nav client:load lesson={lesson} navList={navList} />
        <TutorialContent lesson={lesson} slot="a" />
      </div>
      <div class="h-full border-l border-panel-border" slot="b">
        <WorkspacePanel lesson={lesson} client:load transition:persist />
      </div>
    </ResizablePanel>
  </main>
</Layout>
